progress,sub,sup{vertical-align:baseline;}button,hr,input{overflow:visible;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;} figcaption, menu,article,aside,details,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;}audio:not([controls]){display:none;height:0;} [hidden],template{display:none;}a{background-color:transparent;-webkit-text-decoration-skip:objects;}a:active,a:hover{outline-width:0;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background-color:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;}sub{bottom:-.25em;}sup{top:-.5em;}img{border-style:none;}svg:not(:root){overflow:hidden;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0;}button,input,select,textarea{font:inherit;margin:0;}optgroup{font-weight:700;}button,input{}button,select{text-transform:none;}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button;}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}textarea{overflow:auto;}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0;}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto;}[type=search]{-webkit-appearance:textfield;outline-offset:-2px;}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-input-placeholder{color:inherit;opacity:.54;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}

.clearfix:after{visibility:hidden;display:block;content:" ";clear:both;height:0;}

html{box-sizing:border-box;}*,*:before,*:after{box-sizing:inherit;}


/*Basic body features*/
	/*a defaults, li defaults*/
body{
	/*background: cornsilk;*/
}






a{
	color: navy;
	text-decoration: none;
}

li{
	list-style-type: none; 
}

.flex-parent{
	display: flex
}

.col{
	flex-flow: column wrap;
}



/*hero div*/



	.hero-content{
		height: 100vh;

	    justify-content: center;
	    align-items: center;
	    text-align: center;
		}

	.hero-content p{
		max-width: 20em;
	}

	.hero img{
	    width: 100%;
	    height: 100%;
	    
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: -5000;
	}
		
		.hero-icons a:first-child{
			margin-left: 1em;
		}
			/*even out the links*/

		.hero-icons a{
			color: rgba(255, 255, 255, 0.75);
		}

		.hero-icons a:hover{
			color: rgba(255, 255, 255, 1);
		}

		.hero-icons .icon:hover{
			background: green;
		}


		.hero-icons .icon{
			height: 50px;
			width: 50px;
			border-radius: 50%;
			margin-right: 1em;

		    align-items: center;
		    justify-content: center;
		    position: relative;

		}

		.hero-icons .icon:after{

			content: "";
			background: black;
			position: absolute;
			border-radius: 50%;
			top: 0;
		  	left: 0;
		  	right: 0;
		  	bottom: 0;
		  	z-index: -10;
		  	opacity: 0.25;

		}


		.hero-icons i{
			font-size: 1.75rem;
		}


/*section design*/

.design-content{
	background: white;
	padding: 3em 0;
}

.design{
	flex-flow: row wrap;
	text-align: center;
}

	.design-eg{
		margin: 0 1em;

		justify-content: center;
    	align-items: center;
	}

	.design-icon .icon{
		border-radius: 50%;
		height: 50px;
		width: 50px;
		background: green;

		justify-content: center;
		align-items: center;
	}

	.design-icon a{
		color: white;
	}

	.design-icon i{
		font-size: 1.5rem;
	}

	.design-icon a:hover{
		color: rgba(255, 255, 255, 0.5);
	}

	.design-icon .icon:hover{
		background: green;
		opacity: 0.5;
	}




/*section update*/

.update{
	width: 100%;
	background: lightgrey;

}


	.update-content{
		padding: 4em 0;
	}

		.update-child{
			margin: 0 auto;
		}

		.update-text{
			justify-content: center;
			align-items: center;
			text-align: center;
		}


		.update-video{
			order: -1;
		}

			.update-video figure {
				margin: 0;
				/*chrome automatically adds margins,
				nope, not having it!*/
			  height: 100%;
			  padding-bottom: 56.25%; /* 16:9 ratio => (9 ÷ 16) * 100 */
			  position: relative;
			  width: 100%;
			}
			.update-video iframe {
			  height: 100%;
			  left: 0;
			  position: absolute;
			  top: 0;
			  width: 100%;
			}


		.email .fill{
			border: none;
    		height: 3em;
    		padding-left: 1em;
    		

    		border-bottom-left-radius: 10%;
    		border-top-left-radius: 10%;
		}

		.email .button{
			background: green;
			border: none;
    		height: 3em;
    		color: white;
    		padding-right: 1em;

    		border-bottom-right-radius: 10%;
    		border-top-right-radius: 10%;
		}



/*section feedback*/
	.feedback{
		padding: 3em 0;
	}

		.feedback,
		.quote,
		.contact{
			background: white;
			
			justify-content: center;
		    align-items: center;
		    text-align: center;
		}

	
		.quote blockquote{
			font-style: italic;
		}

		.quote p{
			font-weight: bold;
		}
		
		.feedback-imgs{
			justify-content: center;
			flex-flow: column wrap;

		}

			.feedback-imgs img{
				margin: 0.25em 0;
			}

		.contact{
			margin-top: 3em;
			text-align: center;
		}

			.contact-icons{
				justify-content: center;
			}

			.contact-icons a{
				margin: 0 .5em;
				color: white;
			}

			.contact-icons a:hover{
				color: rgba(255, 255, 255, 0.5);
			}

				.contact-icons .icon{
					height: 60px;
					width: 60px;
					border-radius: 50%;
					background: green;

					justify-content: center;
					align-items: center;

					margin: .5em 0;
				}

					.icon i{
						font-size: 1.5rem;
					}

				.contact-icons .icon:hover{
					opacity: 0.5;
				}

/*footer*/

footer{
	background: lightgrey;
	padding: 4em 0;
}

	.footer-links{
		flex-flow: column;
		align-items: center;
    	justify-content: center;
	}

	.footer-links a{
		margin: .5em 0;
		color: grey;
	}

	.footer-links a:hover{
		color: black;
	}